@font-face {
    font-family: "Helvetica";
    src: url("./../../../Assets/fonts/HelveticaNeueLightItalic.ttf");
 }
 *{
    font-family: "Helvetica";
 }
 .contactMe{
    /* margin :10px 60px; */
    padding: 0px 30px;
    
    
    
 }
.contactMe h1{
    text-align: center;

}
.contactMe .divider img{
    height: 70px;
    width: 100%;
}
.contactMe h2{
    width: 70%;
    padding-bottom: 20px;
    font-weight: 550;

}
.contactMe h3{
    padding-bottom: 20px;
    line-height: 30px;
    font-weight: 590;
}
.contactMe h3 a{
    color: black;
    transition: color 0.3s ease;
    position: relative;
}
.contactMe h3 a:hover{
    color: #fd4766;
}
.contactMe h3 a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #fd4766;
    transition: 0.3s;
    bottom: 0;
}
.contactMe h3 a:hover:after {
    width: 100%;
}
.contactMe .btn{
    /* background-color: aliceblue; */
    padding: 10px 20px;
    
}
.contactMe .btn:hover {
    background: transparent;
    border-color: #fd4766;
    color: #fd4766;
}
.contactMe h6{
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 17px;
    text-align: center;
    font-weight: 600;
}
@media (min-width: 1440px){
    .contactMe{
        max-width: 1440px;
        margin: 10px auto;
        width: 100%;
        padding: 0px;
        
    }
}
@media (max-width: 1050px){
    .contactMe{
        padding: 0px 20px;
    }
    .contactMe h2{
        font-size: 20px;
        width: 100%;
    }
    .contactMe h3{
        font-size: 17px;
    }
}
@media (max-width: 700px){
    .contactMe{
        padding: 0px 15px;
    }
    .contactMe h2{
        font-size:16px;
        width: 100%;
    }
    .contactMe h3{
        font-size:16px;
    }
    .contactMe .btn{
        font-size: 10px;
        letter-spacing: 2px;
        padding: 16px 20px;
        font-size: 15px;
        
    }
}
@media (max-width: 370px){
    .contactMe{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 6px;

        
    }
    .contactMe h3{
        text-align: center;
    }
    .contactMe h2{
        text-align: center;
    }
}