   @font-face {
    font-family: "Helvetica";
    src: url("./../../../Assets/fonts/HelveticaNeueLightItalic.ttf");
   }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}
.hero {
  width: 94%;
  
}
a {
  text-decoration: none;
}
.hero h1{
    font-family: "Poppins", sans-serif;
    color: #000;
    font-size: 50px;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: 500;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  color: #403939;
  font-size: 20px;
  /* font-style: italic; */
  font-weight: 600;
}
nav ul li a {
  color: #34344b;
  position: relative;
}
nav ul li a:hover {
  color: #fd4766;
}
nav ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background: #fd4766;
  transition: 0.3s;
  bottom: 0;
}
nav ul li a:hover:after {
  width: 100%;
}
.btn {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 16px 20px;
  text-align: center;
  border-radius: 30px;
  font-weight: 500;
  background: #fd4766;
  border: 2px solid #fd4766;
  width: 250px;
}
.btn:hover {
  background: transparent;
  border-color: #fd4766;
  color: #fd4766;
}
.content {
  margin: 50px 100px 100px 100px;
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.content .intro{
  width: 60%;
}
.content .myImage{
  width: 40%;
  /* border: 2px solid black; */
  /* border-radius: 150px; */
}
.content .myImage img{
  border: 2px solid black;
  border-radius: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  width: 100%;

}
.content .title {
  color: #0a0a0a;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
  margin-bottom: 20px;
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #fd4766 79.69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content h6{
  font-size: 30px;
  font-weight: 900;
  line-height: 50px;
  text-transform: inherit;
  width: 100%;
  color: #fd4766;
}
.content p {
  font-size: 20px;
  color: #202020;
  margin-top: 25px;
  margin-bottom: 30px;
  width: 100%;
} 

@media (min-width: 1440px) {
  .hero{
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
  }
  
}
@media (max-width: 1150px){
  nav {
    padding: 20px 50px;
  }
  .hero h1{
    font-size: 40px;
    font-weight: 500;
}
.content .title {
  font-size: 23px;
  letter-spacing: 3px;;
  margin-bottom: 17px;
}
.content {
  margin: 30px 50px;
  display: flex;
  align-items: center;
  column-gap: 40px;
}
nav {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
nav ul li {
  padding: 10px 10px;
  font-size: 20px;
  font-weight: 600;
}
}
@media (max-width: 890px){
  nav ul li {
    padding: 10px 5px;
    font-size:16px;
    font-weight: 600;
  }
}
@media (max-width: 790px){
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 10px 10px;
  }
  .hero h1{
    font-size: 30px;
  
}
.content {
  margin: 10px 10px ;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  flex-direction: column;
  column-gap: 0px;
  row-gap: 40px;
  width: 100%;
}
.content .intro{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 30px;
}
.content .title {
  font-size: 23px;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 14px;
}
.content .myImage{
  width: 65%;
  /* border: 2px solid black; */
  /* border-radius: 150px; */
}
 
  .btn {
    font-size: 16px;
    padding: 16px 40px;
    
    /* margin-left: 60px; */
    
  }
  .content .title {
    font-size: 19px;
    letter-spacing: 3px;;
    margin-bottom: 17px;
  }
  .content h6{
    font-size: 21px;
    font-weight: 900;
    line-height: 30px;
    width: 100%;
    text-align: center;
    
  }
  .content p {
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    
  } 
}
@media (max-width: 416px){
  nav {
    padding: 15px 9px;
  }
  .hero h1{
    font-size: 20px;
    font-weight: 500;
}
nav ul li {
  padding: 10px 5px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
 
  font-weight: 600;
}
.content .title {
  font-size: 16px;
  letter-spacing: 0px;;
  margin-bottom: 17px;
}
.content h6{
  font-size: 15px;
  font-weight: 900;
  line-height: 30px;
  width: 100%;
  text-align: center;
  
}
}


