
.mywork{
    width: 95%;
    padding: 0px  80px;
    margin: 160px 0px;
    
}

.mywork .divider img{
    height: 90px;
    width: 100%;
 
}
 /* RectangularBox.css */

.mywork .rectangular-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid #000;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    background-color:rgb(244, 244, 244); 
    
}
  
.mywork .rectangular-box .row {
    display: flex;
}
 
.mywork .rectangular-box .column {
    flex: 1;
    padding: 10px;
    text-align: center;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    
    
}
.mywork .rectangular-box .column h4 a{
    text-decoration: none;
    color: #000;
}
.mywork .rectangular-box .column h4 a:hover{
    text-decoration: underline;
    color:#fd4766;
}
 
.mywork .rectangular-box .column:last-child {
    border-right: none; /* Remove border on last column */
}
  
.mywork .rectangular-box .row:last-child .column {
    border-bottom: none; /* Remove border bottom on last row */
}
@media (min-width: 1440px){
    .mywork{
        max-width: 1440px;
        margin: 0 auto;
        width: 100%;
        
    }
}
@media (max-width: 1250px){
    .mywork h1{
        font-size: 27px;
        margin: 0px;
    }
    .mywork .divider img{
        height: 70px;
     
    }
}
@media (max-width: 1250px){
    
}

@media (max-width: 820px){
    .languages,.forwhom,.technolgy,.company{
        display: none;
    }
}
@media (max-width: 600px){
    .mywork{
        width: 100%;
        padding: 0px  50px;
        margin: 70px 0px;
        
    }
    .mywork h1{
        font-size: 22px;
    }
    .mywork .row .column h2{
        font-size: 17px;
    }
    .mywork .rectangular-box .column h4{
        font-size: 13px;
    }
}
@media (max-width: 330px){
    .mywork h1{
        font-size: 20px;
    }
    .mywork .row .column h2{
        font-size: 14px;
    }
    .mywork .rectangular-box .column h4{
        font-size: 12px;
    }

}